// font-family: 'Poppins', sans-serif;

$color-light-xl: #ffffff;
$color-light-l: #f6f6f6;
$color-light-s: #fafafa;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$transparent: rgb(0, 0, 0, 0);

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  margin: 0;
  padding: 0;
  background-color: $color-light-l;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page_title {
  text-transform: uppercase;
  display: inline-block;
}

// .main_page_container {
//   display: flex;
// }

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

.main_cart {
  font-size: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;

  .bx {
    font-size: 42px;
    color: $color-dark-3xl;
  }
}

.header_container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
}

.main_page_container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  max-width: 1280px;
  margin: 0 auto;
}

.cart_page_container {
  display: none;
  grid-template-columns: repeat(3, auto);
  max-width: 1280px;
  margin: 0 auto;
}

.container-show {
  display: grid;
}

.container-hide {
  display: none;
}

.book_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 30px 25px;
  padding: 15px;
  text-align: center;
  font-weight: 400;
  max-width: 300px;
  box-shadow: 7px 7px 1px 1px $color-dark-m;
  border-radius: 10px;
  background-color: white;

  img {
    width: 100%;
    display: block;
    padding-bottom: 20px;
  }

  .author {
    text-transform: uppercase;
    padding: 5px;
    margin: 0;
  }

  .title {
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px;
    margin: 0;
    color: $color-dark-3xl;
  }

  .price {
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px;
    margin: 0;
    font-size: 24px;
  }
}

.card_buttons {
  display: flex;
  cursor: pointer;
  padding: 10px 10px;
  gap: 15px;
  justify-content: center;

  .item__button {
    background-color: $transparent;
    border: 2px solid $color-dark-l;
    color: $color-dark-3xl;
    font-size: 12px;
    letter-spacing: 0.06em;
    padding: 10px 7px 10px 7px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
  }

  .add_cart,
  .delete_book {
    font-weight: 700;
    background-color: $color-dark-s;
    display: flex;
    align-items: center;

    &:hover {
      background-color: $color-dark-m;
      border: 2px solid $color-dark-m;
    }
  }

  i {
    font-size: 20px;
    align-items: center;
    padding-left: 6px;
  }
}

.popup_card {
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 900px;
  min-height: 450px;
  background-color: $color-light-xl;
  padding: 30px;
  box-shadow: 7px 7px 1px 1px $color-dark-m;
  border-radius: 10px;
  font-size: 18px;
  .author {
    text-transform: uppercase;
    padding: 20px 5px;
    margin: 0;
  }

  .title {
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px 5px;
    margin: 0;
    color: $color-dark-3xl;
  }

  .close {
    background-color: $transparent;
    border: 2px solid $color-dark-l;
    color: $color-dark-3xl;
    font-size: 15px;
    letter-spacing: 0.06em;
    padding: 10px 7px 10px 7px;
    border-radius: 10px;
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
  }
}

.footer_container {
  display: flex;
}
